.footer {
  background-color: #010c1b;
  color: white;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-col h4 {
  color: #00c3ff;
  margin-bottom: 15px;
}

.footer-col p {
  color: #d1d5db;
  font-size: 14px;
}

.socials i {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: #00c3ff;
  transform: scale(1.2)
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
}